*{
    padding: 0;
    margin: 0;
    font: white;
    font-family: "Quicksand", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.containerPrincipal{
  display: flex;
  height: 100vh;
  font-size: 2em;
  color: #fff;

}
.left{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
img{
  max-width: 350px;
  max-height: 350px;
  border-radius: 800px;
}
body {
  min-height: 100vh;
  background: #312528;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
